.App {
  text-align: center;
}

/*cale okienko widok biale*/
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/* Logo w górnym panelu */
.logo {
  height: 35px; 
  margin-top: 0px; 
  margin-right: -65px; 
  margin-left: 10px;
}

/* Górny panel */
.gornypanel {
  width: 100%;
  height: 50px;
  background-color: #bcbcbc;
  display: flex; 
  align-items: center;
}


.nameAp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-grow: 1; 
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 32px;
  align-items: center;
  color: rgb(255, 255, 255);
  margin:0;
}

/*DOLNY PANEL*/
.dolnypanel {
  width: 100%;
  height: 50px;
  background-color: #bcbcbc;
  color: rgb(255, 255, 255);
}

/*Kontener mapy*/
.mapaContainer {
  margin-top: 120px;
  margin-bottom: 60px; 
  overflow: auto; 
}



.copyright {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 0 20px; 
  font-size: 14px;
  color: rgb(27, 27, 27);
  margin: 10px 0 0; 
}



/*OPIS UZDROWISKA*/
.tekstopis {
  position: relative; 
  width: 100%;
  height: auto; 
  background-color: #ffffff;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

/* teskt opis przed mapą */
.opis {
  align-items: center;
  width: 100%;
  color: rgb(99, 99, 99);
  font-size: 16px;
}

/*tekst wybierz*/
.wybor {
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: rgb(99, 99, 99);
  font-size: 22px;
  text-align: center;
  margin-top: 40px; 
}

/* marker przycisk*/
.custom-marker {
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  border: 2px solid #000;
}

/* tekst pod mapą*/
.tekstopisuzdro {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 1200px;
  height: 600px;
  margin: 0px auto;
  padding: 20px;
  height: 200px; 
  background-color: #ffffff;
}

.text-info{
  color: rgb(99,99,99);
}

/*rozmiar zdj*/
.gallery-container img {
  width: 1100px;
  height: 600px;
}

/*przyklad uzdrowiska tekst*/
.Augustow{
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.opisaugustuw{
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  width: 1200px;
  height: 600px;
  margin: 0px auto;
  padding: 20px;
  height: 500px; 
  background-color: #ffffff;
  text-align: left;
}


/* Styl dla pola wyszukiwania uzdrowiska */
.wyszukaj {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

/* Styl dla formularza */
.wyszukaj form {
  display: flex;
  align-items: center;
  justify-content: center
}

/* Styl dla pola tekstowego */
.wyszukaj input[type="text"] {
  font-size: 0.9em;
}

/* Styl dla przycisku */
.wyszukaj button {
  font-size: 0.9em;
}


.details-link {
  color:rgb(46, 46, 46);
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}
